header{
    display: flex;
    justify-content: space-between;
    margin: 15px 200px;
  
    button{
      width: 50px;
      height: 25px;
      background: #248eff;
      border: none;
      color: white;
      border-radius: 4px;
    }
  }